<h1>New Profile</h1>

<%= render("form.html", profile: @profile, current_user: @current_user, action: Routes.profile_path(@conn,:create), conn: @conn) %>
 <! –– assigns - [:conn, :current_user, :profile] ––>
 <! –– from Map.keys(assigns) ––>
