<html>
<!-- Available assigns: [:class_params, :classes, :conn, :current_user, :firstname, :lastname, :student_id, :titlelist] -->

<p>
  <strong><%= @firstname %> <%= @lastname %></strong>
<p id="demo">
<!--crsf token is usually provided by a form - however there is no form - add our own -->
<%= csrf_meta_tag() %>
</head>

<%=# IO.inspect(@titlelist) %>
<script>
function getCurrentURL () {
  localStorage.setItem("regIndex",window.location.href );
}
</script
<% # make a drop down list of titles %>
<% # purpose is to display all classes for a title %>

<label for="title">Choose your class title from the list:</label>
<p></p>

  <select id="classtitles-select">
  <option value="<%= 0 %>"><%= "" %></option>
  <%= for classtitle <- @titlelist do %>
    <option value="<%= classtitle.id %>"><%= classtitle.description %></option>
  <% end %>
  </select>
  <!-- Create drop down list of available classes -->
  <script>
     // window.location.href is the URL for the current page
    let studentidAssigns = <%=@student_id %>              // trick to get an assigns into a javascript variable
    //localStorage.setItem("studentID", studentidAssigns);  // make :student_id from assigns availble to other jscript functions

    const classtitlesSelect = document.getElementById("classtitles-select");
    classtitlesSelect.addEventListener("change", (event) => {
      window.location.href = "/classes/" + event.target.value;
    })
</script>

</ul>

 <style>

 table {
   border-collapse: collapse;
 }

table, th, td {
  border: 1px solid black;
}

th, td {
  padding: 6px;
}
</style>

 <table id="classTable" class="table-layout">
    <tr  onclick="(this)">
      <th>ClassID </th>
      <th>Class title</th>
      <th>Section</th>
      <th>Period</th>
      <th>Fee</th>
      <th>Semester</th>
      <th>Teacher</th>
      <th>Helper1</th>
      <th>Helper2</th>
    </tr>


    <%= for {class, _i} <- Enum.with_index(@classes,0) do%>
      <%= for {item, _k} <- Enum.with_index(class,0) do%>
        <td> &nbsp;  <%= item %> </td>
      <% end %>

      </tr>
    <% end %>
  </table>
<input id =  "cancelbtn" type = "button" onclick = "hideCancel()"  value = "Cancel">
<input id =  "deletebtn" type = "button" onclick = "hideDelete()"  value = "Delete Yellow">

<script>
   document.getElementById("cancelbtn").style.visibility = 'hidden';
   document.getElementById("deletebtn").style.visibility = 'hidden';

</script>


<script>
  var hideCancel = function(){
        document.getElementById("cancelbtn").style.visibility = 'hidden';
        document.getElementById("deletebtn").style.visibility = 'hidden';
        unHighlightRows();
  };
</script>

<script>
  var hideDelete = function(){
     let url = "http://localhost:4000/api/registrations/16";
      alert("hideDelete");
        document.getElementById("deletebtn").style.visibility = 'hidden';
        const token = document.querySelector('meta[name="csrf-token"]').getAttribute('content');
        fetch('http://localhost:4000/api/registrations/16', {
          method: 'delete',
          headers: {
         'Content-Type': 'application/json',
         'X-CSRF-Token': token
        },

        body: JSON.stringify({  //start stringify
          registration: { //start registration
            id: "89",

          }  // end registration
        }) //end stringify
  })
};
</script>


<script>
highlight_row();

function highlight_row() {
    var table = document.getElementById('classTable');
    var cells = table.getElementsByTagName('td');
    for (var i = 0; i < cells.length; i++) {
        // Take each cell
        var cell = cells[i];
        // do something on onclick event for cell
        cell.onclick = function () {
           // Get the row id where the cell exists
            var rowId = this.parentNode.rowIndex;
            var rowsNotSelected = table.getElementsByTagName('tr');
            for (var row = 0; row < rowsNotSelected.length; row++) {
                rowsNotSelected[row].style.backgroundColor = "";
                rowsNotSelected[row].classList.remove('selected');
            }
            var rowSelected = table.getElementsByTagName('tr')[rowId];
            rowSelected.style.backgroundColor = "yellow";
            rowSelected.className += " selected";
            // studentID , classID, semester - identify a unique registration
            let studentID  = localStorage.getItem("studentID");
            let classID    = rowSelected.cells[0].innerHTML;
            let semester   = rowSelected.cells[4].innerHTML;
            localStorage.setItem("classID", classID);
            localStorage.setItem("semester", semester);
                      // let url = "http://localhost:4000/students/"+ studentID +"/registrations/";
            const temp = classID.trim().split(/\s+/);
            let text = temp[1].toString();
            document.getElementById("cancelbtn").style.visibility = 'visible';
            document.getElementById("deletebtn").style.visibility = 'visible';
         }
    }

}
</script>

<script>
var unHighlightRows = function(){
    var table = document.getElementById('classTable');
    var cells = table.getElementsByTagName('td');
    for (var i = 0; i < cells.length; i++) {
         var cell = cells[i];
            var rowId = table.rowIndex;
            var rowsNotSelected = table.getElementsByTagName('tr');
            for (var row = 0; row < rowsNotSelected.length; row++) {
                rowsNotSelected[row].style.backgroundColor = "";
                rowsNotSelected[row].classList.remove('selected');
            }
    }
}
</script>

<script>

</script>

<span><%=# link "Back", to: Routes.student_path(@conn, :index) %></span>
<span><%=# link "New Registration", to: Routes.student_registration_path(@conn, :new, @student_id) %></span>
<span><%=# link "New Registration", to: Routes.student_registration_path(@conn, :new) %></span>



</body>
</html>
