<html>
<!-- Available assigns: [:class_params, :classes, :conn, :current_user, :firstname, :lastname, :student_id, :titlelist] -->
<body>

<p>
  <strong><%= @firstname %> <%= @lastname %></strong>
<p id="demo">
<!--reference name or manipulate id -->

<script>
function getCurrentURL () {
  localStorage.setItem("regIndex",window.location.href );
}
</script

<% # make a drop down list of titles %>
<% # purpose is to display all classes for a title %>

<label for="title">Choose your class title from the list:</label>
<button onclick="history.go(0)">clear</button>

  <select id="classtitles-select">
  <option value="<%= 0 %>"><%= "" %></option>
  <%= for classtitle <- @titlelist do %>
    <option value="<%= classtitle.id %>"><%= classtitle.description %></option>
  <% end %>
  </select>

  <script>
    let studentidAssigns = <%=@student_id %> //trick to get an assigns into a javascript variable
    localStorage.setItem("studentID", studentidAssigns);
    const classtitlesSelect = document.getElementById("classtitles-select");
    getCurrentURL();
    classtitlesSelect.addEventListener("change", (event) => {
      window.location.href = "/classes/" + event.target.value;
    })

    //var getvalue=document.getElementsByName('gettitles')[0];
    //getvalue.addEventListener('input', function()
    //{ var classtitle = this.value;
    //  console.log("This.value");
    //  document.getElementById("spanresult").innerHTML="Select value is : "+this.value;
    //  console.log(classtitle)
    //  const titleArray = classtitle.split(" ");
    //  var titleid=titleArray[0];
    //  classTitleWindow = window.location.href = "/classes/"+titleid;
    // // classTitleWindow["studentID"] = studentidAssigns;
    //});
</script>

</ul>

 <style>

 table {
   border-collapse: collapse;
 }

table, th, td {
  border: 1px solid black;
}

th, td {
  padding: 6px;
}
</style>

 <table id="classTable" class="table-layout">
    <tr  onclick="(this)">
      <th>ClassID </th>
      <th>Class title</th>
      <th>Section</th>
      <th>Period</th>
      <th>Fee</th>
      <th>Semester</th>
      <th>Teacher</th>
      <th>Helper1</th>
      <th>Helper2</th>
    </tr>


    <%= for {class, _i} <- Enum.with_index(@classes,0) do%>
      <%= for {item, _k} <- Enum.with_index(class,0) do%>
        <td> &nbsp;  <%= item %> </td>
      <% end %>

      </tr>
    <% end %>
  </table>

<script>
highlight_row();

function highlight_row() {
  console.log("INDEX")
    var table = document.getElementById('classTable');
    var cells = table.getElementsByTagName('td');
    for (var i = 0; i < cells.length; i++) {
        // Take each cell
        var cell = cells[i];
        // do something on onclick event for cell
        cell.onclick = function () {
           // Get the row id where the cell exists
            var rowId = this.parentNode.rowIndex;
            var rowsNotSelected = table.getElementsByTagName('tr');
            for (var row = 0; row < rowsNotSelected.length; row++) {
                rowsNotSelected[row].style.backgroundColor = "";
                rowsNotSelected[row].classList.remove('selected');
            }
            var rowSelected = table.getElementsByTagName('tr')[rowId];
            rowSelected.style.backgroundColor = "yellow";
            rowSelected.className += " selected";

            let classID = rowSelected.cells[0].innerHTML;
            const temp = classID.trim().split(/\s+/);
            console.log(temp[1])
            let text = temp[1].toString();
            console.log(text)
            console.log("done highlight index row")

         }
    }

}
</script>
<span><%= link "Back", to: Routes.student_path(@conn, :index) %></span>
<span><%= link "New Registration", to: Routes.student_registration_path(@conn, :new, @student_id) %></span>
<span><%=# link "New Registration", to: Routes.student_registration_path(@conn, :new) %></span>



</body>
</html>
