<% IO.puts("student data") %>
<% IO.inspect(@student.data) %>
<h1>Edit <%= @firstname %>  <%= @lastname %></h1>
<%= render("form.html", student: @student, action: Routes.student_path(@conn, :update, @student.data, @student_id)) %>
 <! –– from Map.keys(assigns) ––> 