<% IO.puts(" edit student dot data") %>
<% IO.inspect(@student_id) %>
<% IO.inspect(@student.data) %>
<h1>Edit <%= @firstname %>  <%= @lastname %></h1>
<%= render("form.html", student: @student, action: Routes.student_path(@conn, :update, @student.data)) %>
 <! –– from Map.keys(assigns) ––> 