<ul>
      <% IO.puts("@students_id") %>


      <%= for student <- @students do %> 
          <strong><%= link("select", to: Routes.student_path(@conn, :show, student.data)) %></strong> 
          <strong><%= student.data.firstname %>
          <strong><%= @lastname %></strong>
          <br>
  <% end %>
   <% IO.puts("leaving student end index") %>
</ul>
